@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    padding: 0px;
    color : white ; 
    box-sizing: border-box;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,rgba(0,0,0, 0.1),rgba(88,11,203, 0.6)),url("../img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    width: 380px;
    padding: 100px 50px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px rgba(0,0,0,0.4);
    opacity: 0.9;
}

.form-container h1 {
    color : white;
    text-align:  center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position:relative;
    bottom: 60px;
    margin : 0 ; 
}


.control input {
    width: 100%;
    display:flex;
    padding :10px;
    color:  #222; 
    border:none ;
    outline : none ;
    margin : 1rem 0 ; 
    border-radius: 5px;
    box-shadow: 2px 2px 60px rgba(0,0,0,0.4);
    background: rgba(255, 255, 255, 0.2) ;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: .5s;
}

.control input[type = "password"]:hover, input[type = "text"]:hover 
,input[type = "password"]:focus, input[type = "text"]:focus  {
    background: white;
}


.controls input[type = "submit"] {
    position: absolute;
    top: 84%;
    left: 50%;
    transform : translate(-50%,-50%);
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none ;
    background:crimson;
    box-shadow: 2px 2px 60px rgba(255, 0, 0, 0.4);
    transition: .3s;
}

.controls input[type = "submit"]:hover {
    width: 300px;
    transition: 0.3s ease;
    background : #630dc8;
    cursor: pointer;
}


.container-goto-sign-up {
    position: absolute;
    top: 95%;
    left: 51%;
    width: 25%;
    height: 30px;
    transform : translate(-50%,-50%);
    text-align: center;
    background : red;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2) ;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: .3s;
}

.container-goto-sign-up:hover {
    width: 75%;
    background: rgb(220, 20, 60) ;
    border: 2px solid rgb(220, 20, 60) ;
    box-shadow: 2px 2px 60px rgba(245, 0,0, 0.2)

}

.container-goto-sign-up a{
    text-transform: uppercase;
    text-decoration: none;
}